#  Local .terraform directories
**/.terraform
**/.terraform.d

# .tfstate files
*.tfstate
*.tfstate.*
.terraform
.terraform.tfstate.lock.info
.terraform.lock.hcl

**/.idea
**/*.iml
**/.vscode

# Cloud Posse Build Harness https://github.com/cloudposse/build-harness
**/.build-harness
**/build-harness

# Crash log files
crash.log
test.log

# Editor backups
*.orig
*.draft
*~

