name: Slash Command Dispatch
on:
  issue_comment:
    types: [created]

jobs:
  slashCommandDispatch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Slash Command Dispatch
        uses: cloudposse/actions/github/slash-command-dispatch@0.15.0
        with:
          token: ${{ secrets.PUBLIC_REPO_ACCESS_TOKEN }}
          reaction-token: ${{ secrets.PUBLIC_REPO_ACCESS_TOKEN }}
          repository: cloudposse/actions
          commands: rebuild-readme, terraform-fmt
          permission: none
          issue-type: pull-request
